Repository kubernetes-csi/csi-driver-iscsi, pull requests merged in 2024-12, with the labels that each got.

#318 Prow update master
  release-tools/build.make
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: size/M, kind/cleanup, lgtm, release-note-none, cncf-cla: yes, approved, ok-to-test

#320 fix: CVE-2024-45338
  go.mod
  go.sum
  vendor/modules.txt
Labels: kind/bug, size/XS, cncf-cla: yes, release-note, approved

#322 chore: Update csi release tools
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: size/XS, kind/cleanup, release-note-none, cncf-cla: yes, approved
